.footer{
    background-color: black;
    font-size: 1em;
    color: whitesmoke;
    width: 100%;
    height:100%;
    display: flex;
    padding: 3em 10vw;
}
.footer div{
    height: 80%;
}
/* Copyright Section */
.footer div:first-child{
    width: 50vw;
}
.footer div:last-child{
    width: 30vw; 
}

.footer a:hover,.footer a:visited,.footer a:link,.footer a:active{
    color: whitesmoke;
    font-style: normal; 
    text-decoration: none;
}
