.pageCards{
    margin: 0vw;
}
.pageCards>div{
    padding: 2vw 5vw;
}

.pageCards h2{
    font-size: 3em;
    padding-bottom: 0.5em;
}
.pageCards p{
    font-size: 1.5em;
}
.cardCol{
    height: 35vw;
}
.cardCol p{
    margin: 2em 0em 0em 0em;
}

.cardCol img{
    height: 30vw;
}
.cardCol:nth-child(odd) img{
    float:right;
    margin-left: 4em; /*modify text distance*/
}

.cardCol:nth-child(even) img{
    float:left; 
    margin-right: 4em; /*modify text distance*/
}

@media (max-width:1800px) {
    div.cardCol.cardCol img{
        float: none;
        height: auto;
        width: 80vw;
        margin: 0em;
        text-align: center;
    }
    .cardCol{
        height: auto;
        padding: 0 2em;
    }
}

.trippleColCard{
    margin-top: 1em;
    text-align: center;
}
.trippleColCard div{
    width: 30%;
    display: inline-grid;
}
@media (max-width: 992px) {
    .trippleColCard div{
        display: block;
        margin: auto;
        width: 100%;
    }
}
.trippleColCard img{
    width: 100%;
}
.trippleColCard h2{
    padding-bottom: 1em;
}
.trippleColCard p{
    margin-bottom: 1em;
}

.seeMore{
    background-color: black;
    color: white;
    border: none;
    font-size: 1.0em;
    padding: 0.5em 1em;
    margin: 1em 0em;
}