* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

.navbar {
    background: rgba(255, 255, 255, 1);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
	transition: all .3s;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0px;
}

#navbar__logo {
    background-color: #c3dbd3;
    background-image: linear-gradient(to top, #7c8c8e 0%, #c3dbd3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

.fa-solid fa-circle-half {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #9BA4B4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}

.button {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    height: 20%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #9BA4B4;
    color: #fff;
}

.button:hover {
    background: #394867;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #394867;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #131313;
    }    

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(8px) rotate(-45deg);
    }
}


/* Hero Section CSS */

.main {
    background-color: #fff;
    grid-template-columns: 1 1;
    align-items: center;
    margin: auto;
	display: block;
  justify-content: space-between;
    z-index: 1;
    max-width: 60%;
	height: auto;
    padding: 0 0px;
}

.aboutthing {
    background-color: #fff;
    grid-template-columns: 1 1;
    align-items: center;
    margin: auto;
	display: flex;
  justify-content: space-between;
    height: 80vh;
    z-index: 1;
    max-width: 60%;
	height: auto;
    padding: 0 0px;
}

.main__content h1 {
    font-size: 4rem;
    background-color:#000000;
	display: block;
	text-align: center;
	padding-top: 100px;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 6rem;
    background-color: #14274E;
	text-align: center;
    background-image: linear-gradient(to right, #14274E 1%, #9BA4B4 100%);
	padding-bottom: 50px;
	padding-top: 50px;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h3 {
    margin-top: 4rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: gold;
	margin-left: 0rem;
}

.main__content h4 {
    margin-top: 4rem;
    font-size: 2.4rem;
    font-weight: 700;
    color:gold;
	margin-left: 0rem;
}

.main__content h10 {
    margin-top: 40rem;
    font-size: 2.4rem;
    font-weight: 700;
    color:gold;
	margin-left: 0rem;
}


.main__content h7 {
    margin-top: 2rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: black;
	margin-left: 32rem;
}



.main__content h6 {
    margin-top: 6rem;
    font-size: 2.4rem;
    font-weight: 700;
	 background-image: linear-gradient(to top, #14274E 1%, #9BA4B4 100%);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color:#000000;
	margin-left: 45rem;
}

.main__content h27 {
    margin-top: .2rem;
    font-size: 1.8rem;
    font-weight: 100;
    color:#9BA4B4;
	text-decoration: underline;
}

.main__content p {
    margin-top: 1rem;
	padding-left: 0rem;
    font-size: 1.2rem;
    font-weight: 1;
    color:#000000;
}

.resources {
   display:flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}

.resourcesbutton {
	margin-top: -60px; 
	position: absolute;
	text-align: center;
	background-color:#14274E;
    color: #fff;
    border:none;
	border-radius:10px; 
	width: 1145px;
	padding: 10px 0;
	cursor: pointer;
}

.resourcesbutton:hover {
	background-color:#9BA4B4;
    transition: 0.5s;
}

.names {
	height: 100vh;
	display: block;
	z-index: 1;
}

.membername {
	background-color: #fff;
	text-align: center;
    background-color: #fff;
}

.membername h2{
	font-size: 4rem;
    background-color:#000000;
	padding-top: 200px;
	padding-bottom: 0px;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
	
}

.membername h1{
	width: 33.33%;
	text-align: center;
	padding-top: 76px;
	font-size: 2rem;
	font-weight: 100;
	color: #000000;
		
}

.membername h3{
	display: inline-block;
	padding-top: 76px;
	font-size: 2rem;
	font-weight: 100;
	color: #000000;
		
}

.column {
  float: left;
  padding: 50px 0px;
  text-align:center;
  width: 33.33%;
}

.column p {
font-size: 1rem;
padding-top: 10px;
}

.column h5{
  font-size: 2rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.columncap {
  float: left;
  padding: 50px 0px;
  text-align:center;
  width: 50%;
}

.columncap p {
font-size: 1rem;
padding-top: 10px;
}

.columncap h5{
  font-size: 2rem;
}

.main__btn {
    font-size: 1rem;
    background-color: #14274E;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #e3e3e3;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #e3e3e3;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #394867;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #14274E;

}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    background-image: url("/images/DSC_0614 (1).JPG")
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }


    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }  

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }


}

.trans {
background-image: url("/images/2020/3.JPG");
background-color: #383a3c;
margin-top: 10px;
width: 100%;
display: table;
max-width: 100%;
height: 90vh;
background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
	
}

.trans h1 {
align-content: center;
vertical-align: middle;
display: table-cell;
text-align: center;
font-size: 200px;
color: white;	
	
}

.resources {
   display:flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}

.resourcesbutton {
	margin-top: -60px; 
	position: absolute;
	text-align: center;
	background-color:#14274E;
    color: #fff;
    border:none;
	border-radius:10px; 
	width: 1145px;
	padding: 10px 0;
	cursor: pointer;
}

.resourcesbutton:hover {
	background-color:#9BA4B4;
	transition: 0.5s;}


.history {
	align-content: center
}



@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* about Section CSS */
.about {
    margin-top: 100px;
	background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 123vh;
}

.about h1 {
    background-color: #fff;
    background-image: linear-gradient(
        to right, 
        #14274E 0%,
         #394867 0%,
          #9BA4B4 21%,
           #14274E 52%,
            #9BA4B4 78%,
             #394867 100%
    );
    background-size: 100%;
    margin-top: 5rem;
	margin-bottom: 5rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about__card {
    margin: 1rem;
    height: 480px;
    width: 400px;
    border-radius: 4px;
	background-size: cover;
    position: relative;
    color: #e3e3e3;
}
.about__card:first-child {
    background-image: linear-gradient(to bottom, rgba(1,1,1,0.05) 0%, rgba(17,17,17,0.6) 100%), url("/images/image0.jpg");
}

.about__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(1,1,1,0.05) 0%, rgba(17,17,17,0.6) 100%), url("/images/Screenshot 2022-08-19 115151.jpg");
}

.about__card:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(1,1,1,0.05) 0%, rgba(17,17,17,0.6) 100%), url("/images/image0.jpg");
}

.about__card:nth-child(4) {
    background-image: linear-gradient(to bottom, rgba(1,1,1,0.05) 0%, rgba(17,17,17,0.6) 100%), url("/images/DSC_0066.JPG");
}



.about__card:nth-child(5) {
    background-image: linear-gradient(to bottom, rgba(1,1,1,0.05) 0%, rgba(17,17,17,0.6) 100%), url("/images/Mortal Kombat 2.jpg");
}


.about h2 {
    position: absolute;
    top: 350px;
    left: 30px;

}

.about__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.about__card button {
    color: #e3e3e3;
    padding: 20px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #394867;
    position: absolute;
    top: 440px;
    left: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.about__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .about {
        height: 1600px;
    }

    .about h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .about {
        height: 1400px;
    }

    .about h1 {
        font-size: 1.2rem;
    }

    .about__card {
        width: 300px;
    }
}

/* Footer CSS */
.footer__container {
    background-color: #141414;
	margin-top: 100px;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #e3e3e3;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 15px;
}

.footer__link--items > h2 {
    color: #e3e3e3;
}

.footer__link--items a {
    color: #e3e3e3;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #e3e3e3;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}

.website__rights {
    color: #e3e3e3;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }

}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1132px;
  position: relative;
  margin: auto;
	padding-top: 10px;
}

/* Hide the /images by default */
.mySlides {
  display: none;
}

.mySlides img {
  height: 800px;
  width: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 17px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slide {
  animation-name: slide;
  animation-duration: 1.5s;
}

@keyframes slide {
    0% {
      background-position: 0 0;
    }
    16.66% {
      background-position: 0 0;
    }
    33.32% {
      background-position: -800px 0;
    }
    49.98% {
      background-position: -800px 0;
    }
    66.64% {
      background-position: -1600px 0;
    }
    83.30% {
      background-position: -1600px 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

div.clear{
    clear: both;
}